.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

/generated/prisma

# Ignore local database files
postgres_data/

# Ignore environment and prisma config
.env
prisma/

/generated/prisma
